/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/


.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: #26a5408e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
}
/*---------------------------------------------------------------------------------------------------------*/

body {
    background-image: url('../images/addLocale2.jpg');
    background-size: cover;  /*Copre l'intera finestra del browser */
    background-position: center; 
    background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
  }
  
.sfondo{
    height:auto;
    width:auto;
}

.hidden {
    display: none;
}

.riepilogo-row {
    display: flex; /* Imposta il layout dei riepiloghi su una riga */
    flex-wrap: wrap; /* Per consentire il wrapping dei riepiloghi quando la larghezza del contenitore è limitata */
    justify-content: space-between; /* Distribuisce uniformemente i riepiloghi lungo l'asse principale */
}

.riepilogo {
    width: calc(15% - 10px); /* Occupa il 50% della larghezza del contenitore con un margine di 10px tra le card */
    margin-bottom: 20px; /* Spazio sotto ogni card */
    background-color: #50d7d3b5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



.aggiungi{
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    background-color: #26a5408e; /* Colore di sfondo del pulsante */
    color: #fff; /* Colore del testo del pulsante */
    border: none;
    border-radius: 5px;
}

.formAggiungiLocale{
    padding: 20px; 
    border:2px solid black;
    border-radius: 10px;
    width: 37%;
    background-image: url('../images/addLocale.jpg');
    background-size: cover;
    font-weight: bold;
}

#inputAggiungiLocali{
    border-radius: 5px; 
    border-color: white;
    height: 22px;
    width: 260px;
}

#inputAggiungiLocali::placeholder{
    text-align: center; 
    opacity: 1; 
}

#inputAggiungi {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #inputAggiungi:hover {
    background-color: #45a049; 
  }
  
  #inputAggiungi:active {
    background-color: #39843e;
  }
  
  #inputAggiungi:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }
  
  #inputAggiungi span {
    display: inline-block;
    vertical-align: middle;
  }
  
.home{
    position: absolute;
  top: 80px; /* Distanza dal bordo superiore */
  right: 10px;
}
