/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: #26a5408e;
    overflow: hidden;
    display: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
}


/* ---------------------
    #FOOTER
----------------------- */
.footer{
    background-color: #26a5408e;
}
