/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: #26a5408e;
    overflow: hidden;
    display: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
}


/* ---------------------
    #CARD LOCALI
----------------------- */
.card-body{
    border-radius: 10px;
}


/* .btn-scopri{
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    background-color: #26a5408e; /* Colore di sfondo del pulsante 
    color: #fff; /* Colore del testo del pulsante 
    border: none;
    border-radius: 5px;
}

.locale {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.locale img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 8px;
}
.locale h2 {
    margin-top: 0;
}

.prenota {
    background-color: #26a5408e;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.prenota-btn:hover {
    background-color: #26a5408e;
}

.areaPersonale{
    height: 30px;
    position: relative;
    width: 40%;
    
    background-color: #26a5408e;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
} */