body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.containerLocali {
    
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.locale {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.locale img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 8px;
}
.locale h2 {
    margin-top: 0;
}
.prenota {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.prenota-btn:hover {
    background-color: #0056b3;
}

.areaPersonale{
    height: 30px;
    position: relative;
    width: 40%;
    
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

