body {
    background-color: rgb(221, 221, 221)!important;
}
  
/* css sezione registrazione */
.btn-login {
font-size: 0.9rem;
letter-spacing: 0.05rem;
padding: 0.75rem 1rem;
}

.bg-login{
    background-color:rgba(255, 166, 0, 0.685) !important;
    backdrop-filter: blur(20px);
}

.link-index{
    color: black;
    text-decoration: none;
}