/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: #26a5408e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
}

.sfondo{
    height:auto;
    width:auto;
}
/* CSS per il layout */
body {
    overflow-x: hidden; /* Nasconde lo scrolling orizzontale */
}

.position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tabella-dati {
    width: 40%; /* Larghezza ridotta per il form */
    font-size: 16px;
}

/* Stile delle celle della tabella */
#tabella-dati td {
    padding: 8px; /* Ridotto lo spazio interno alle celle */
}

/* Stile degli input nella tabella */
#tabella-dati input {
    width: calc(100% - 16px); /* Imposta la larghezza degli input con un margine ridotto */
    padding: 8px; /* Ridotto lo spazio intorno agli input */
}

/* Stile dei pulsanti nella tabella */
#tabella-dati button {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    background-color: #26a5408e; /* Colore di sfondo del pulsante */
    color: #fff; /* Colore del testo del pulsante */
    border: none;
    border-radius: 5px;
}

.aggiungi{
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    background-color: #26a5408e; /* Colore di sfondo del pulsante */
    color: #fff; /* Colore del testo del pulsante */
    border: none;
    border-radius: 5px;
}
/* Stile per il riepilogo dei ristoranti */
.riepilogo {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 40%; /* Larghezza ridotta per le card */
}
