/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    margin: 0; /* Remove margin */
    background-color: #26a5408e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.sfondo{
    background-color: coral;
    /* background-image: url( 'sfondo.jpg' ); */
    height:auto;
    width:auto;
}
/* --------------
   #scritta
----------------- */
.scritta{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

/* --------------
   #FORM
----------------- */
  .signin-form {
    width: 300px;
    margin: 100px auto 0;
    padding: 50px; 
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .form-control {
    width: calc(100% - 40px);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .btn-primary {
    width: calc(100%);
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(0, 123, 255, 0.5);
    border: 1px solid rgba(0, 123, 255, 0.5);
    color: #fff;
    font-weight: bold;
  }

  .field-icon {
    cursor: pointer;
  }

  @media (max-width: 576px) {
    .signin-form {
      width: 90%;
    }
  }